<div class="title-group container-fluid">
  <div class="row">
    {% if page.title %}
      <div class="col-md-4" id="logo">
        <a href="{{ site.data.global.url }}/"><img src="{{ site.data.global.url }}/images/logo-nt.png" alt="Netherton Solutions Logo"></a>
      </div>
      <div class="col-md-8">
        <h1 class="special secondary">
            <span>
              {{ page.title }}
            </span>
        </h1>
      </div>
    {% else %}
      <div class="col-md-12">
        <div id="logo" class="main">
          <a href="{{ site.data.global.url }}/"><img src="{{ site.data.global.url }}/images/logo.jpg" alt="Netherton Solutions Logo"></a>
        </div>
        <h1 class="sr-only">
            <span>
              {{ site.data.global.title }}
            </span>
        </h1>
      </div>
    {% endif %}
  </div>
  <div class="row">
    {% if page.id %}
    <aside>
        {{ page.date | date: "%m.%d.%y" }}
        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        {% endif %}
    </aside>
    {% endif %}
    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% else %}
            {{ site.data.global.description }}
        {% endif %}
    </p>
  </div>
</div>
{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image %}
        <span class="img" style="background-image: url('{{ page.featured_image }}');">
        {% endif %}

        {% if page.featured_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
{% endif %}
