{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2><i class="fa fa-rocket" aria-hidden="true"></i>
 Engineering Consulting</h2>
                    <p>Do you have a problem that you are struggling with?  Netherton solutions provides expert engineering consulting on all manner of mechanical problems.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-cogs" aria-hidden="true"></i> Mechanical Design</h2>
                    <p>We have a ton of experience designing products that fit your application.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-print" aria-hidden="true"></i>
 3D Printing</h2>
                    <p>Do you need a prototype fast?  We can get it done!</p>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
