{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h2><i class="fa fa-wrench" aria-hidden="true"></i>
                      Product Development</h2>
                    <p>Looking to develop a new product or improve an existing one?  Netherton solutions provides design and design consultation.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-cogs" aria-hidden="true"></i> Mechanical Design</h2>
                    <p>Whether you need a simple jig or fixture or require a full automated work cell, Netherton Solutions can help.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-print" aria-hidden="true"></i>
                      3D Printing</h2>
                    <p>Do you need a prototype fast?  We can provide FDM prints quickly and affordably.</p>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
